body {
  background-color: #D5EBF2;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
}

.expenses, .income {
  margin-top: 20px;
}

input {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(179, 255, 203, 1);
  width: 100%;
}

table {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  margin-left: 20px;
  border-collapse: collapse;
  border-spacing: 0px;
  width: 100%;
  background-color: white;
}

table, th, td {
  padding: 5px;
  border: 1px solid black;
}
thead > tr > td {
  background-color: #aaaaaa;
}
tr:last-child {
  background-color: rgba(179, 255, 203, 1);
}
.bottom {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: #aaaaaa;
}
.total-table {
  margin-bottom: 20px;
}