<div class="row expenses">
  <div class="col-md-10">
    <div class="col-md-2">
      <h3>Expenses:</h3>
    </div>
    <div class="col-md-2 col-md-offset-8">
      <button class="btn btn-default" type="" ng-click="users.addExpense()">Add</button>
    </div>
    <div class="">
      <table>
        <thead>
          <tr>
            <td>
              Name
            </td>
            <td>
              Category
            </td>
            <td>
              Amount
            </td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="line in users.expenses">
            <td>{{line.name}}</td>
            <td>{{line.category}}</td>
            <td>{{line.amount}}</td>
          </tr>
          <tr>
            <td><input type="text" name="name" value="" ng-model="expenses.input.name"></td>
            <td><input type="text" name="name" value="" ng-model="expenses.input.category"></td>
            <td><input type="text" name="name" value="" ng-model="expenses.input.amount"></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
