<div class="row expenses">
  <div class="col-md-10">
    <div class="col-md-2">
      <h3>Expenses:</h3>
    </div>
    <div class="row report-table">
      <div class="col-sm-6 col-md-10">
        <table>
          <thead>
            <tr>
              <td>
                Name
              </td>
              <td>
                Category
              </td>
              <td colspan="1">
                Amount
              </td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="line in users.expenses">
              <td>{{line.name}}</td>
              <td>{{line.category}}</td>
              <td class="amount">${{line.amount}}</td>
              <td><button class="btn btn-danger" type="">X</button></td>
            </tr>
            <tr>
              <td><input type="text" name="name" value="" ng-model="users.expense.name" ng-required="required"></td>
              <td><input type="text" name="name" value="" ng-model="users.expense.category"></td>
              <td><input type="text" name="name" value="" ng-model="users.expense.amount" ng-required="required"></td>
              <td><button class="btn btn-success report-button" type="" ng-click="users.addExpense()">+</button></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
